.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  .navbar-links {
    display: flex;
    gap: 15px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }

  .logout-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar-toggle {
      display: block;
    }
  
    .navbar-links {
      display: none;
      flex-direction: column;
      gap: 10px;
      background-color: #444;
      position: absolute;
      top: 50px;
      right: 20px;
      padding: 10px;
      border-radius: 5px;
    }
  
    .navbar-links.active {
      display: flex;
    }
  }
  